/* custom font - nunito + Rajdhani */
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Rajdhani:wght@300;400;500;600;700&display=swap');

/* Theme variables */
:root {
    --default-font: "Nunito", system-ui, Avenir, Helvetica, Arial, sans-serif;
    
    /* Dark Theme Colors inspired from Django project */
    --primary-back-color: #1f1f1f;      /* main background */
    --secondary-back-color: #222222;    /* cards, panels */
    --primary-fore-color: rgb(5, 155, 155);      /* bright accent */
    --primary-text-color: #eae7e7;      /* light text on dark bg */
    --secondary-text-color: #ffffffcc;  /* secondary text */
    --error-color: crimson;
}

/* all elements */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--default-font);
}